.navbar-expand-md {
    background-color: rgb(24, 88, 51);
    border-color: rgb(255, 252, 252);
}
.container {
  max-width: 960px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;}}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
#ofer1{
    background-color: rgb(24, 88, 51);
    padding-left: 16px !important;
  }
  #ofer2{
    padding-left: 16px !important;
  }
#black{
    background-color: black
}
#green
{
  background-color: rgb(24, 88, 51);
}

#box1
{ margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }


.image {
  border: 0;
  position: relative;
}

  .image:before {
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }

  .image.fit {
      display: block;
  }

      .image.fit img {
          display: block;
          width: 100%;
      }

  .image.featured {
      display: block;
      margin: 0 0 2em 0;
  }

      .image.featured img {
          display: block;
          width: 100%;
      }

/* Containers */

.container {
margin-left: auto;
margin-right: auto;
}

.container.\31 25\25 {
  width: 100%;
  max-width: 1750px;
  min-width: 1400px;
  }
  
  .container.\37 5\25 {
  width: 1050px;
  }
  
  .container.\35 0\25 {
  width: 700px;
  }
  
  .container.\32 5\25 {
  width: 350px;
  }
  
  .container {
  width: 1400px;
  }
  
  @media screen and (max-width: 1920px) {
  
  .container.\31 25\25 {
  width: 100%;
  max-width: 1500px;
  min-width: 1200px;
  }
  
  .container.\37 5\25 {
  width: 900px;
  }
  
  .container.\35 0\25 {
  width: 600px;
  }
  
  .container.\32 5\25 {
  width: 300px;
  }
  
  .container {
  width: 650px;
  }
  
  }
  
  @media screen and (max-width: 1280px) {
  
  .container.\31 25\25 {
  width: 100%;
  max-width: 1200px;
  min-width: 960px;
  }
  
  .container.\37 5\25 {
  width: 720px;
  }
  
  .container.\35 0\25 {
  width: 480px;
  }
  
  .container.\32 5\25 {
  width: 240px;
  }
  
  .container {
  width: 400px;
    height: 170px;
}
  
  }
  
  @media screen and (max-width: 980px) {
  
  .container.\31 25\25 {
  width: 100%;
  max-width: 118.75%;
  min-width: 95%;
  }
  
  .container.\37 5\25 {
  width: 71.25%;
  }
  
  .container.\35 0\25 {
  width: 47.5%;
  }
  
  .container.\32 5\25 {
  width: 23.75%;
  }
  
  .container {
  width: 95%;
  }
  
  }
  
  @media screen and (max-width: 840px) {
   
  .container.\31 25\25 {
  width: 100%;
  max-width: 118.75%;
  min-width: 95%;
  }
  
  .container.\37 5\25 {
  width: 71.25%;
  }
  
  .container.\35 0\25 {
  width: 47.5%;
  }
  
  .container.\32 5\25 {
  width: 23.75%;
  }
  
  .container {
  width: 100% !important;
  height: 120px;
}
  
  }
 
  @media screen and (max-width: 741px) {
  
    .container.\31 25\25 {
    width: 100%;
    max-width: 118.75%;
    min-width: 95%;
    }
    
    .container.\37 5\25 {
    width: 71.25%;
    }
    
    .container.\35 0\25 {
    width: 47.5%;
    }
    
    .container.\32 5\25 {
    width: 23.75%;
    }
    
    .container {
    width: 100% !important;
    height: 310px;
  }
    
    }
   

  @media screen and (max-width: 736px) {
  
  .container.\31 25\25 {
  width: 100%;
  max-width: 125%;
  min-width: 100%;
  }
  
  .container.\37 5\25 {
  width: 75%;
  }
  
  .container.\35 0\25 {
  width: 50%;
  }
  
  .container.\32 5\25 {
  width: 25%;
  }
  
  .container {
  width: 100% !important;
  height: 300px;
  }
  
  @media screen and (max-width: 415px) {
  
    .container.\31 25\25 {
    width: 100%;
    max-width: 125%;
    min-width: 100%;
    }
    
    .container.\37 5\25 {
    width: 75%;
    }
    
    .container.\35 0\25 {
    width: 50%;
    }
    
    .container.\32 5\25 {
    width: 25%;
    }
    
    .container {
    width: 100% !important;
    height: 150px;
    }
  