.navbar-expand-md {
    background-color: rgb(24, 88, 51);
    border-color: rgb(255, 252, 252);
}

.container{

    margin-top: 10%;
}

body{
    background-color: black !important;
}

#ascuns_1, #ascuns_2{
    visibility: hidden ;
    display: none ;
}